<div class="w-full h-screen bg-white flex items-center justify-between px-8 py-10 text-black relative select-none">
  <div class="flex-1 flex flex-col justify-center items-start gap-4">
    <h2 class="font-[Modak] text-[#4f4f4f] text-3xl sm:text-4xl select-none">
      O que caracteriza um <span class="text-[#310532] hover:underline">feminicídio</span>?
    </h2>

    <p class="text-base text-gray-600 max-w-md leading-relaxed font-[Roboto] select-none">
      <!-- <span class="font-semibold hover:underline">livro-razão</span> -->
      No Brasil, feminicídio é <app-itext [content]="whatIsText01" />, nos casos envolvendo <app-itext
        [content]="whatIsText02" />
      ou <app-itext [content]="whatIsText03" />. Em 2024, o feminicídio
      passou a ser <app-itext [content]="whatIsText04" /> no Código Penal (art. 121-A).
    </p>
  </div>

  <div class="rounded-4xl shadow-2xl w-40 h-40">
    <img src="assets/images/shocked-woman.jpg"
      class="rounded-4xl w-full h-full object-cover select-none transition-all hover:scale-105" draggable="false" />
  </div>
</div>