<div class="container">
  <div class="text-content">
    <h2>
      O que caracteriza um <span>feminicídio</span>?
    </h2>

    <p>
      No Brasil, feminicídio é 
      <app-itext [content]="whatIsText01"></app-itext>,
      nos casos envolvendo
      <app-itext [content]="whatIsText02"></app-itext>
      ou
      <app-itext [content]="whatIsText03"></app-itext>.
      Em 2024, o feminicídio passou a ser 
      <app-itext [content]="whatIsText04"></app-itext>
      no Código Penal (art. 121-A).
    </p>
  </div>

  <div class="image-container">
    <img src="assets/images/shocked-woman.jpg" alt="Mulher surpresa" />
  </div>
</div>
